torch
torchvision
torchaudio

opencv-python
albumentations
albucore
segment-anything

ultralytics

numpy
pandas
matplotlib
seaborn
Pillow

scikit-learn
scipy

xgboost
lightgbm

pyyaml
tqdm
joblib
shapely

