numpy
pandas
matplotlib
seaborn

PyMuPDF
pdfplumber
pdf2image

easyocr
pytesseract
paddlepaddle
paddleocr

python-docx
mammoth
openpyxl
pypandoc
textract
xlrd
striprtf

opencv-python
Pillow

chardet
faiss-cpu
langdetect
rapidfuzz
spacy
sentence-transformers

scipy
scikit-learn
hdbscan

editdistance
jiwer

tqdm
joblib
